<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.telegram.bot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/muti/Desktop/coding/projB/run.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/muti/Desktop/coding/projB</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/muti/Desktop/coding/projB/bot.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/muti/Desktop/coding/projB/bot_error.log</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>StartInterval</key>
    <integer>30</integer>
    
    <key>UserName</key>
    <string>muti</string>
    
    <key>GroupName</key>
    <string>staff</string>
    
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist> 